{% extends 'layout.twig' %}

{% block body %}
  
  <div class="search">
    <div class="formSearch">
          <input type="search" id="search">
      <button  type="submit" class="btnSearch"  onclick="ajaxload();"><i class="fas fa-search"></i></button>
    </div>
     
  </div>
  
  <div class="container">
    
    <div class="row">
      <div class="col-lg-6">
        <div id="poster"></div>
      </div>
      <div class="col-lg-6">
        <div id="movie"></div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-2 invisible addBtn" >
        <button id="watch" onclick="addToWatch();">Посмотрел</button>
      </div>
      <div class="col-lg-2 invisible addBtn" >
        <button id="want">Хочу посмотреть</button>
      </div>
    </div>
  
    <div class="row">
      <div class="col-lg-6 invisible watch">
        <div id="watchPoster"></div>
      </div>
      <div class="col-lg-6 invisible">
        <div id="watchMovie"></div>
      </div>
    </div>
    
  </div>

{% endblock %}


